.hero {
  background-image: url(../assets/heroBg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.hero .container {
  display: flex;
  align-items: center;
  height: 800px;
}
.hero .container img {
  margin: 0;
}
.hero .container h1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 87px;
  /* or 109% */
  text-transform: uppercase;
  color: #000000;
}
