.services {
  padding: 120px 0;
}
.service_head_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.service_head_line h3 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 53px;
  text-transform: capitalize;

  color: #1f0d2b;
}
.service_container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.service {
  background-image: url(../assets/images/service.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f4f6fd;
  text-align: center;
  padding: 38px 45px;
}
.service h2 {
  /* service hed */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1f0d2a;
}
.service p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6a6d7a;
}
